<article class="post">
  <div class="title">
    <p>{{title}}</p>
  </div>
  <div class="meta">
    <p>{{post_text}}</p>
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>